#biotitle {
	text-align: center;
}
#biopage {
	color: #480000;
	font-family: Courier, monospace;
}
p {
	padding: 22px;
}
#leftside { 
	left: 0; 
	top: 0;
	bottom: 0;
	width: 20px;
	background: #660000;
	position: fixed;
}
#rightside { 
	right: 0; 
	top: 0;
	bottom: 0;
	width: 20px;
	background: #660000;
	position: fixed;
}		
#top { 
	left: 0; 
	right: 0;
	height: 20px;
	top: 0;
	background: #660000;
	position: fixed;
}
#bottom {
	left: 0; 
	right: 0;
	height: 20px;
	bottom: 0;
	background: #660000;
	position: fixed;
}
