html {
	background: #FFF2E7;
}
#biotitle {
	text-align: center;
}
#biopage {
	color: #0E0021;
	font-family: 'Raleway', sans-serif;
}
p {
	padding: 22px;
}
#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
