/* fix weird centering */
* {
	/* REAL janky */
	margin: 0;
}
ul {
	text-align: center;
}
ul li{
	display: inline-block;
}
a {
	text-decoration: none;
	color: #F2D5BD;
}
p {
	/*fix font*/
	font-family: 'Raleway', sans-serif;
	padding: 0vh 2vw 0vh 2vw;
}
.thin {
	font-weight: 100;
}
.namehead {
	font-family: 'Lato', sans-serif;
	color: #FFF2E7;
	/*fix*/
	padding-top: 30vh;
	text-align: center;
	font-size: 5.8vw;
}
#icons li {
	padding: 1vw;
}
#landing {
	background-color: #0E0021;
}
.contact {
	color: #DE8642;
	font-family: 'Lato', sans-serif;
	font-size: 3vw;
	text-align: center;
	/*fix*/
	padding-top: 15vh;
}
#icons img {
	width: 2em;
	height: 2em;
}
.icon {
	/* hacky solution-- fix later */
	position: relative;
	left: -17px;
}
.sectionhead {
	text-align: center;
	font-size: 5vw;
	font-family: 'Lato', sans-serif;
	color: #FFF2E7;
}
#photo {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 3vh 0vw 4vh 0vw;
}
.resize {
	width: 600px;
	height: auto;
}
#bio {
	/*fix color*/
	background-color: #1B0021;
	color: #DE8642;
}
section {
	width: 100%;
	height: 100vh;
}
.navspace {
	padding-top: 5vw;
}