#subline {
	margin: 5px;
	padding: 5px;
	color: #480000;
	font-size: 150%;
	text-align: center;
	font-family: Courier New, monospace;
}
a {
	text-decoration: none;
	color: #480000;
}
.title {
	font-family: Palatino, serif;
	color: #480000;
	text-align: center;
	padding: 0;
	font-size: 180%;
	margin: 0;
}
.navbar{
	font-size: 150%;
	text-align: center;
	color: #480000;
	font-family: monospace;
}
#bio {
	margin: 0;
	padding-right: 50px;
}
#resume {
	margin: 0;
	padding-right: 50px;
	padding-left: 50px;
}
ul li {
	display: inline;
}
#headshot {
	display: block;
  	margin-left: auto;
   	margin-right: auto;
   	padding-top: 20px;
}
