#subline {
	margin: 5px;
	padding: 5px;
	color: black;
	font-size: 150%;
	text-align: center;
	font-family: Courier New, monospace;
}
a {
	text-decoration: none;
	color: black;
}
.title {
	font-family: Palatino, serif;
	color: black;
	text-align: center;
	padding: 0;
	font-size: 180%;
	margin: 0;
}
.navbar{
	text-align: center;
}
#bio {
	margin: 0;
	padding-right: 50px;
	font-size: 150%;
	font-family: monospace;
}
#resume {
	margin: 0;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 150%;
	font-family: monospace;
}
ul li {
	display: inline;
}
#headshot {
	display: block;
  	margin-left: auto;
   	margin-right: auto;
   	padding-top: 20px;
}
#leftside { 
	left: 0; 
	top: 0;
	bottom: 0;
	width: 20px;
	background: #660F09;
	position: fixed;
}
#rightside { 
	right: 0; 
	top: 0;
	bottom: 0;
	width: 20px;
	background: #660F09;
	position: fixed;
}		
#top { 
	left: 0; 
	right: 0;
	height: 20px;
	top: 0;
	background: #660F09;
	position: fixed;
}
#bottom {
	left: 0; 
	right: 0;
	height: 20px;
	bottom: 0;
	background: #660F09;
	position: fixed;
}
