html {
	background-color: #0E0021;
}
#name {
	text-align: center;
	font-family: 'Lato', sans-serif;
}
.header {
	text-align: center;
}
.organization {
	font-size: 115%;
}
.subtitle {
	font-style: italic;
}
.resumehr {
	width: 100%;
	border: 0;
	height: 1px;
	background: radial-gradient(ellipse at center, rgba(255,242,231,0.95) 0%,rgba(255,242,231,0) 95%);

}
.thin {
	font-weight: 100;
}
#resumepage {
	color: #FFF2E7;
	font-family: 'Quicksand', sans-serif;
	padding: 22px;
}
